.edit{
    background-color: lightskyblue;
    height: 100vh;

    &__form{
        display: flex;
        flex-direction: column;

        &-flex{
            display: inline-block;
        }

        &-back{
            height:2rem;
            margin-bottom: 12rem;
            margin-left:1rem;
        }

        &-logo{
            height: 15rem;
            margin: 0 auto;

        }

        &__label{
            margin-bottom: 0.3rem;
            margin-left: 0.8rem;
        }

        &__input{
            width:90%;
            margin-bottom: 0.5rem;
            align-self: center;
            border-radius: 12px;
            border:none;
            height:2rem;
        }

        &__link{
            width: 90%;
            align-self: center;
        }

        &__button{
            width: 100%;
            align-self: center;
            border-radius: 18px;
            border-style: none;
            background-color: ghostwhite;
            margin: 1rem 0;
            height: 2rem;
        }
    
    }
}