.main{
    background-color: lightblue;
    height: 100vh;

    &-logo{
        height: 16rem;
        margin: 0 auto;
        
    }

    &__title{
        text-align: center;
        margin:5rem 0;
    }

    &__login{
        display: flex;
        flex-direction: column;

        &__link{
            margin:2rem 0;
            width: 90%;
            align-self: center;
        }

        &__label{
            margin-bottom: 0.3rem;
            margin-left: 0.8rem;
        }

        &__input{
            width:90%;
            margin-bottom: 0.5rem;
            align-self: center;
            border-radius: 12px;
            border:none;
            height:2rem;
        }

        &__button{
            width: 90%;
            align-self: center;
            border-radius: 18px;
            border-style: none;
            background-color: ghostwhite;
            height: 1.5rem;
            margin: 1.5rem 0;
        }


    }

    &__button{
        &-wrapper{
        display:flex;
        width:100%;
        justify-content: center;
        margin-bottom:2rem;
        height: 2rem;
        }
     &-create{
        width: 100%;
        border-radius: 18px;
        border-style: none;
        background-color: ghostwhite;
        height: 1.5rem;
    }
}




}